.blue {
    color: var(--color-blue-pretty) !important;
}
.red {
    color: var(--color-red-pretty) !important;
}
.yellow {
    color: var(--color-yellow-pretty) !important;
}
.orange {
    color: var(--color-orange-pretty) !important;
}
.purple {
    color: var(--color-purple-pretty) !important;
}