//**** COLORS ****//
:root {
    --color-blue-pretty: #4d02ef;
    --color-red-pretty: #ce1201;
    --color-yellow-pretty: #e2ee04;
    --color-orange-pretty: #e95629;
    --color-green-pretty: #63e249;
    --color-purple-pretty: #5a16a3;
    --color-black-pretty: #1e191c;
    --color-white-pretty: #f8f8f9;
}